.DS_Store
node_modules/
dist/
build/
.qa/
*.log
starter-vault/.obsidian/workspace*.json
starter-vault/.obsidian/plugins/*/main.js
starter-vault/.obsidian/plugins/*/manifest.json
starter-vault/.obsidian/plugins/*/styles.css
